.login_signup_buttons {
    height: 30px;
    background-color: #e8491d;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .login {
    margin-right: 5px;
  }
  
  .signup {
    margin-left: 5px;
  }
  